@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.d-flex{
    display: flex;
}
.section-1{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    height:700px;
    padding-bottom: 150px;

}
.item-size{
    width: 70%;
}
.item-1{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
h1{
    font-size: 50px;
    margin-top: 80px;

}
.item-1 h2{
    font-size: 40px;
    margin-top: 40px;
}
.item-1 h2 span{
    color: orange;
}
h3{
    margin-top:50px;
}
.item-1 p{
    display: block;
    margin-top:10px;   
    margin-bottom:20px; 
}
.link-btn{
    margin-top: 20px;
    text-decoration: none;
    color: white;
    padding: 10px 40px;
    border-radius: 5px;
    background: linear-gradient(45deg, lightsalmon, tomato);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.item-2{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    margin-top: 30px;
}
.item-2 img{
    width: 100%;
}



/* section-3 */

.section-2{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}


